body{
    background-color: #102D69;
    margin: 0;
}

html{
    height: 100%;
}

header, nav{
    background-color: white;
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-bottom: 5px #102D69 solid;
}

header p, nav p{
    margin: 0;
    font-size: 24px;
    font-family: "HSE Sans", sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #102D69;
    padding: 7px 12px 7px 12px;
}

header .corpora, nav .corpora{
    display: flex;
    margin: 5px 10px 5px 10px;
}

header .corpora div, nav .corpora div{
    margin: 10px;
}

.corpora_btn, header a, nav a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

.corpora_btn:hover{
    font-size: 26px;
    transition: 0.5s;
}

.corpora_btn_sel p{
    font-size: 26px;
    background-color: #102D69;
    color: white;
    padding: 7px 12px 7px 12px;
    border-radius: 25px;
}

.info_block{
    margin: 20px;
    border-radius: 25px;
    /*padding: 5px 20px 5px 20px;*/
    font-family: "HSE Sans", sans-serif;
    font-size: 25px;
}

.filters p, .settings p, .results p{
    padding: 10px 10px 10px 0;
    color: white;
    margin: 0;
}

.filters p:first-child, .settings p:first-child{
    border-bottom: 1px white solid;
}


.buttons{
    display: flex;
    color: #102D69;
}

.settings_btn{
    background-color: white;
    padding: 3px 15px 3px 15px;
    margin: 10px 30px 10px 0;
    border-radius: 20px;
    font-weight: bold;
}

table, th, tr, td{
    padding: 5px;
}

td{
    text-align: center;
}

td,th{
    border-right: 1px solid #102D69;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px solid #102D69;
}

td:last-child, th:last-child{
    border-right: 0;
}


table{
    border-spacing: 0;
    background-color: white;
    border-radius: 25px;
}

.results{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow:column;
    color: #102D69;
}

.countLines {
    counter-reset: trCount;
    overflow: auto;
    white-space: nowrap;
}

.countLines tr td:first-child:before {
    position:relative;
    counter-increment: trCount;
    content:counter(trCount);
    color:#102D69;
    font-weight: bold;
}

form button, form select{
    font-family: "HSE Sans", sans-serif;
    color: #102D69;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.filter_btn{
    transition: 0.5s ease;
    border: 0;
    padding: 5px 10px 5px 10px;
}

.filter_btn:hover{
    color: white;
    background-color: #102D69;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px white solid;
}

#id_normalized_freq_1, #id_normalized_range_1{
    display: none;
}

.settings form, .settings form fieldset legend{
    border: 0;
    color: white;
    font-weight: bold;
}

.settings form{
    display: flex;
    width: 100%;
}

.settings form div{
    flex-flow: column;
    margin: 10px 40px 10px 0;
    user-select: none;
    display: flex;
    flex-flow: column;
}

.settings form div:last-child{
    justify-content: center;
    padding-bottom: 15px;;
}


.settings form fieldset{
    color: #102D69;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-content: center;
}

.settings form input{
    border-radius: 25px;
    font-family: "HSE Sans", sans-serif;
    color: #102D69;
    font-size: 15px;
    font-weight: bold;
}
