{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HSE CORPORA</title>
    {% block head %}
    <link rel="stylesheet" href= "{% static '/styles/kwic.css' %}">
    {% endblock %}
</head>

<body>
{% block corpora %}
        <div class="corpora">
        <div class="corpora_btn"><p><a class="corpora_btn" href="/peclap_info">PECLAP</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
        <div class="corpora_btn_sel"><p><a class="corpora_btn" href="/pecase_info">PECASE</a></p></div>
    </div>
{% endblock %}

{% block navbar %}
            <div class="corpora">
        <div class="corpora_btn"><p><a class="corpora_btn" href="/pecase_info">INFO</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn"><p><a class="corpora_btn" href="/pecase_word">WORD</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn_sel"><p><a class="corpora_btn" href="/pecase_kwic">KWIC</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn"><p><a class="corpora_btn" href="/pecase_ngram">N-GRAM</a></p></div>
    </div>
{% endblock navbar %}


{% block content %}

<div class="info_block">
<div class="settings">
    <p><b>Settings</b></p>
    <form method="get">
        {% csrf_token %}
        <div>
        <legend>Category:</legend>
                <select name="category" id="select1">
                    {% if category == 'All'%}
                <option value="All" selected>All</option>
                        {% else %}
                        <option value="All">All</option>
                    {% endif %}

                    {% if category == 'School/College Students'%}
                        <option value="School/College Students" selected>School/College Students</option>
                    {% else %}
                        <option value="School/College Students">School/College Students</option>
                    {% endif %}

                    {% if category == 'School/College Females'%}
                        <option value="School/College Females" selected>School/College Females</option>
                    {% else %}
                        <option value="School/College Females">School/College Females</option>
                    {% endif %}

                    {% if category == 'School/College Males'%}
                        <option value="School/College Males" selected>School/College Males</option>
                    {% else %}
                        <option value="School/College Males">School/College Males</option>
                    {% endif %}

                    {% if category == "Undergraduate Students"%}
                        <option value="Undergraduate Students" selected>Undergraduate Students</option>
                    {% else %}
                        <option value="Undergraduate Students">Undergraduate Students</option>
                    {% endif %}

                    {% if category == "Undergraduate Females"%}
                        <option value="Undergraduate Females" selected>Undergraduate Females</option>
                    {% else %}
                        <option value="Undergraduate Females">Undergraduate Females</option>
                    {% endif %}

                    {% if category == "Undergraduate Males"%}
                        <option value="Undergraduate Males" selected>Undergraduate Males</option>
                    {% else %}
                        <option value="Undergraduate Males">Undergraduate Males</option>
                    {% endif %}

                   {% if category == "Undergraduate Males&Females"%}
                        <option value="Undergraduate Males&Females" selected>Undergraduate Males&Females</option>
                    {% else %}
                        <option value="Undergraduate Males&Females">Undergraduate Males&Females</option>
                    {% endif %}

            </select>
        </div>
        <div>
            <legend>Word / Words:</legend>
            <input type="text" name="word" value="{{ query_word }}">
        </div>
    <div class ='buttons'>
        <button type ='submit' class="filter_btn">
            SEARCH
        </button>

    </div>
        </form>
</div>

<div class="results">
<p><b>Results: {{ result }} concordances</b></p>


    <table class="tcont countLines">
<tr>
    <th>№</th>
    <th>Left Context</th>
    <th>KWIC</th>
    <th>Right Context</th>
</tr>
    {% for item in concordances %}
                <tr>
                    <td></td>
                    <th>{{ item.left_print }}</th>
                    <td>{{ item.query }}</td>
                    <td>{{ item.right_print }}</td>
                </tr>
{% endfor %}
</table>
</div>


</div>


{% endblock %}
</body>
</html>