{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HSE CORPORA</title>
    {% block head %}
    <link rel="stylesheet" href= "{% static '/styles/kwic.css' %}">
    {% endblock %}
</head>

<body>
{% block corpora %}
        <div class="corpora">
        <div class="corpora_btn_sel"><p><a class="corpora_btn" href="/peclap_info">PECLAP</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
        <div class="corpora_btn"><p><a class="corpora_btn" href="/pecase_info">PECASE</a></p></div>
    </div>
{% endblock %}

{% block navbar %}
            <div class="corpora">
        <div class="corpora_btn"><p><a class="corpora_btn" href="/peclap_info">INFO</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn"><p><a class="corpora_btn" href="/peclap_word">WORD</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn_sel"><p><a class="corpora_btn" href="/peclap_kwic">KWIC</a></p></div>
        <div class="corpora_btn"><p class="separator">|</p></div>
                <div class="corpora_btn"><p><a class="corpora_btn" href="/peclap_ngram">N-GRAM</a></p></div>
    </div>
{% endblock navbar %}


{% block content %}

<div class="info_block">
<div class="settings">
    <p><b>Settings</b></p>
    <form method="get">
        {% csrf_token %}
        <div>
        <legend>Disciplines:</legend>
                <select name="disciplines" id="select1">
                    {% if discipline == 'All'%}
                <option value="All" selected>All</option>
                        {% else %}
                        <option value="All">All</option>
                    {% endif %}

                    {% if discipline == 'Computer Science'%}
                        <option value="Computer Science" selected>Computer Science</option>
                    {% else %}
                        <option value="Computer Science">Computer Science</option>
                    {% endif %}

                    {% if discipline == 'Law'%}
                        <option value="Law" selected>Law</option>
                    {% else %}
                        <option value="Law">Law</option>
                    {% endif %}

                    {% if discipline == 'Political Science'%}
                        <option value="Political Science" selected>Political Science</option>
                    {% else %}
                        <option value="Political Science">Political Science</option>
                    {% endif %}

                    {% if discipline == "Management"%}
                        <option value="Management" selected>Management</option>
                    {% else %}
                        <option value="Management">Management</option>
                    {% endif %}

                    {% if discipline == "Economics"%}
                        <option value="Economics" selected>Economics</option>
                    {% else %}
                        <option value="Economics">Economics</option>
                    {% endif %}

                    {% if discipline == "History"%}
                        <option value="History" selected>History</option>
                    {% else %}
                        <option value="History">History</option>
                    {% endif %}

            </select>
        </div>

                    <div>
        <legend>Page size:</legend>
                <select name="pages" id="select2">
                    {% if page == '50'%}
                <option value="50" selected>50</option>
                        {% else %}
                        <option value="50">50</option>
                    {% endif %}

                    {% if page == '100'%}
                        <option value="100" selected>100</option>
                    {% else %}
                        <option value="100">100</option>
                    {% endif %}

                    {% if page == '500'%}
                        <option value="500" selected>500</option>
                    {% else %}
                        <option value="500">500</option>
                    {% endif %}

                    {% if page == '1000'%}
                        <option value="1000" selected>1000</option>
                    {% else %}
                        <option value="1000">1000</option>
                    {% endif %}

                    {% if page == "5000"%}
                        <option value="5000" selected>5000</option>
                    {% else %}
                        <option value="5000">5000</option>
                    {% endif %}

                    {% if page == "10000"%}
                        <option value="10000" selected>10000</option>
                    {% else %}
                        <option value="10000">10000</option>
                    {% endif %}

                    {% if page == "All"%}
                        <option value="All" selected>All</option>
                    {% else %}
                        <option value="All">All</option>
                    {% endif %}

            </select>
        </div>

        <div>
            <legend>Word / Words:</legend>
            <input type="text" name="word" value="{{ query_word }}">
        </div>
    <div class ='buttons'>
        <button type ='submit' class="filter_btn">
            SEARCH
        </button>

        <button type ='submit' class="filter_btn" name="download" value="download">
            DOWNLOAD
        </button>
    </div>
        </form>
</div>

<div class="results">
<p><b>Results: {{ page }} of {{ result }} concordances</b></p>


    <table class="tcont countLines">
<tr>
    <th>№</th>
    <th>Left Context</th>
    <th>KWIC</th>
    <th>Right Context</th>
</tr>
    {% for item in concordances %}
                <tr>
                    <td></td>
                    <th>{{ item.left_print }}</th>
                    <td>{{ item.query }}</td>
                    <td>{{ item.right_print }}</td>
                </tr>
{% endfor %}
</table>
</div>


</div>


{% endblock %}
</body>
</html>